project_id = "brzeuhnscuanypkoqcru"

[functions.send-booking-confirmation]
verify_jwt = false

[functions.sync-booking-to-suitedash]
verify_jwt = false

[functions.suitedash-webhook]
verify_jwt = false

[functions.calculate-distance]
verify_jwt = false

[functions.create-payment]
verify_jwt = false
